<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cap.mizzou.rmtrx.development"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="14"/>

    <application
            android:name=".rmtrxDevelopmentApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.rmtrx.Light">
        <activity
                android:name="cap.mizzou.rmtrx.app.ui.HomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.grocery.GroceryActivity"
                android:label="@string/grocery_list_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.Messages.MessagesActivity"
                android:label="@string/messages_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.LoginActivity"
                android:label="@string/app_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cap.mizzou.rmtrx.app.ui.HomeActivity"/>
        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.DisplayMessageActivity"
                android:label="@string/title_activity_display_message"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="cap.mizzou.rmtrx.app.ui.HomeActivity"/>
        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.sendLoginInfo"
                android:label="@string/title_activity_send_info"
                android:parentActivityName="cap.mizzou.rmtrx.app.LoginActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.SQLite.TestDatabaseActivity"
                android:label="@string/Test_DB"
                android:parentActivityName="cap.mizzou.rmtrx.app.LoginActivity">

        </activity>
    </application>

</manifest>
