<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cap.mizzou.rmtrx.development"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="14"/>

    <application
            android:name=".rmtrxDevelopmentApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.rmtrx.Light">
        <activity
                android:name="cap.mizzou.rmtrx.app.ui.HomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.grocery.GroceryActivity"
                android:label="@string/grocery_list_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.Messages.MessagesActivity"
                android:label="@string/messages_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>

        <activity
                android:name="cap.mizzou.rmtrx.app.Login.sendLoginInfo"
                android:label="@string/title_activity_send_info"
                android:parentActivityName="cap.mizzou.rmtrx.app.LoginActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.TestDbActivity.TestDatabaseActivity"
                android:label="@string/Test_DB"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.Login.RegistrationActivity"
                android:label="@string/registration_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.Login.LoginActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.User_setup.JoinResidenceActivity"
                android:label="@string/JoinResidence"
                android:parentActivityName="cap.mizzou.rmtrx.app.Login.RegistrationActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.User_setup.CreateResidenceActivity"
                android:label="@string/CreateResidence"
                android:parentActivityName="cap.mizzou.rmtrx.app.Login.RegistrationActivity">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.LogOut.LogOutActivity"
                android:label="@string/Logout"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity"
                android:noHistory="true">


        </activity>
        <!--<activity-->
                <!--android:name="cap.mizzou.rmtrx.app.Residence.SeeResidenceI"-->
                <!--android:label="@string/SeeResidenceInfo"-->
                <!--android:parentActivityName="cap.mizzou.rmtrx.app.Login.RegistrationActivity">-->

        <!--</activity>-->
        <activity
                android:name="cap.mizzou.rmtrx.app.Residence.UserInfoActivity"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity"
                android:label="@string/currentResidence">

        </activity>
        <activity
                android:name="cap.mizzou.rmtrx.app.ui.DashboardActivity"
                android:label="@string/dashboardActivity">

        </activity>

        <activity
                android:name="cap.mizzou.rmtrx.app.BulletinBoard.BulletinBoardActivity"
                android:label="@string/bulletin_board_activity_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity">

        </activity>

        <activity
                android:name="cap.mizzou.rmtrx.app.BulletinBoard.AddBBPost"
                android:label="@string/bb_add_post_name"
                android:parentActivityName="cap.mizzou.rmtrx.app.BulletinBoard.BulletinBoardActivity">

        </activity>

        <activity android:name="cap.mizzou.rmtrx.app.grocery.GroceryActivity" android:label="@string/grocery_list_activity_name">
        </activity>

        <provider android:name="cap.mizzou.rmtrx.app.grocery.GroceryDB" android:authorities="cap.mizzou.rmtrx.app.grocery.GroceryDB">
        </provider>

        <activity
                android:name="cap.mizzou.rmtrx.app.Finances.FinancesActivity"
                android:label="@string/financeActivity"
                android:parentActivityName="cap.mizzou.rmtrx.app.ui.HomeActivity"
                ></activity>

    </application>

</manifest>
